<div class="publications">
<br>
<h3>Publications & preprints</h3>
<br>
  {% bibliography --group_by none --query @*[selected=true]* %} * denotes equal contribution
  
<br><br><br><br>
<h3>Projects</h3><br>
View all the projects <a href="/projects/">here</a>.
</div>
